*{
margin: 0;
padding: 0;
}
           body{
background-image:  linear-gradient(45deg, #FFFFFF, rgb(255, 122, 89));
background-color:    rgb(34,193,195);
-webkit-background-size:cover;
background-size:cover;
background-position: center center;
height: 100vh;
}
h1 {
  text-shadow: 2px 2px 5px #DC143C;
}.header img {
  float: left;
  width: 270px;
  height: 300px;
  background: #555;
}
a {
  color: #FFDAB9;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}