*{
margin: 0;
padding: 0;
}
           body{
background-image:  linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
background-color:    rgb(34,193,195);
-webkit-background-size:cover;
background-size:cover;
background-position: center center;
height: 100vh;
}

.options{
width: 860px; 
margin: 0 auto;
}
.options ul{
list-style: none;
margin-top: 2%;
}
.options ul li {
background: #262626;
width: 170px;
border: 1px solid #fff;
height: 50px;
line-height: 50px;
text-align: center;
float: left;
color: #fff;
font-size: 16px;
position: relative;
font-family: poppins;
text-transform: uppercase;
font-weight: bold;
}
.options ul li:hover{
background: crimson; 
}

.options ul ul{
display: none;
}
.options ul li:hover > ul{
display: block;
}
.options ul ul ul{
margin-left: 170px;
top: 0;
position: absolute;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
h1 {
  text-shadow: 2px 2px 5px #DC143C;
}
.header img {
  float: left;
  width: 270px;
  height: 300px;
  background: #555;
}
a {
  color: #FFDAB9;
}